*{
    margin: 0px;
    padding: 0px;
    font-family: century;
}
header{
    background-image: linear-gradient(transparent, transparent, transparent), url(https://img.freepik.com/free-photo/flat-lay-boxes-with-salad-yellow-background_23-2148247885.jpg?w=740&t=st=1706553609~exp=1706554209~hmac=525379f502d65346e7e8c80e3224cc00f6bbce0bd6dd9a0c77fd6d985db56eac);
    height: 100vh;
    background-size: cover;
    background-position: center;
    min-height: 100px;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 30px;
    min-height: 400px;
    margin-right: 60px;
    font-size: 17px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #000;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.5s ease;
}
ul li a:hover{
    background-color: #000;
    color: #fff;
}
.logo img{
    float: left;
    width: 300px;
    height: auto; 
    left: 1.3%;
}
.title{
    width: 90%;
    color: #000;
    position: absolute;
    top: 70%;
    left: 1.3%;
    font-size: 18px;
    word-spacing: 10px;
}
h1{
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}
.learn_link{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 20px;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 500ms ease-in-out;
}
.learn_link:hover{
    border: 1px solid #000;
    background: #000;
}
@media(max-width: 700px){
    h1{
        font-size: 15px;
    }
    ul li{
        display: inline-block;
    }
    ul{
        position: absolute;
        background: translucent;
        height: 100vh;
        width: 200px;
        top: 0;
        right: 0;
        text-align: left;
        z-index: 2;
    }
}
/*-----restaurants------*/
.restaurants{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
}
h2{
    font-size: 36px;
    font-weight: 600;
}
p2{
    color: #000;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin: 5%;
    display: flex;
    justify-content: space-between;
}
.col{
    flex-basis: 31%;
    background: #fff3f3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 0.5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2) ;
    cursor: pointer;
}
.testimonals{
    width:80%;
    margin: auto;
    text-align: center;
}
.partner{
    width:80%;
    margin: auto;
    text-align: center;
}
.one{
    padding: 10px 20px;
    width: 150px;
    border-radius: 20px;
}
.order{
    font-size: larger;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: black;
    background: #364f6b;
    transition: all 200ms ease-in-out;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #364f6b;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.order:hover{
    background: #fceaea;
    color: #2b4450;
    cursor: pointer;
}
.join{
    font-size: larger;
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    color: black;
    background: #364f6b;
    transition: all 200ms ease-in-out;
    border-radius: 20px;
    box-shadow: 5px 5px 5px #364f6b;
    background: linear-gradient(15deg, #13547a 0%, #80d0c7 100%);
}
.join:hover{
    background: #fceaea;
    color: #2b4450;
    cursor: pointer;
}